.link {
  text-decoration: none;
  color: white;
}

.menu-back {
  background-color: black;

  height: 100px;
  width: 100%;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;

  .menu-context {
    color: white;

    .menu-kayin {
      font-size: 50px;
      float: left;
      margin-left: 50px;
      margin-top: 10px;
      cursor: pointer;
    }

    .under-menu {
      font-size: 40px;

      padding-top: 20px;

      .menubar-div {
        width: 40px;
        height: 40px;
        float: right;
        margin-top: 10px;
        margin-right: 50px;
        display: none;
      }
      .menubar {
        width: 40px;
        height: 40px;
        display: none;
        cursor: pointer;
      }

      .about-menu {
        float: right;
        margin-right: 50px;
        cursor: pointer;
      }
      .work-menu {
        float: right;
        margin-right: 50px;
        cursor: pointer;
      }
    }
  }
}

.menu-back {
  /* Set rules to fill background */
  min-height: 100px;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
@media screen and (max-width: 1024px) {

   /* Specific to this particular image */
  .about-menu, .work-menu {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }
  .menubar-div {
    display: block !important;
    position: absolute;
    right: 25%;
  }
  .menubar{
    display: block !important;
    position: absolute;
    right: 25%;
  }
}


.short-back {
  background-color: black;

  height: 100%;
  width: 100%;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;
  color: white;

  .cross-div {
    width: 50px;
    height: 50px;
    margin-top: 20px;
    margin-right: 40px;
    float: right;

    .cross {
      width: 50px;
      height: 50px;
      cursor: pointer;
    }
  }
  .hidden {
    margin-top: 250px;
    height: 500px;

    .hidden-work, .hidden-about {
      font-size: 50px;
      position: relative;
      left: 30%;
      margin-top: 50px;
      cursor: pointer;
    }
  }
}
.short-back {
  /* Set rules to fill background */
  min-height: 100px;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {

   /* Specific to this particular image */
  .cross-div {
    display: block !important;
    position: absolute;
    right: 25%;
  }
  .cross{
    position: absolute;
    right: 25%;
  }
}
