.write-back {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;

  background: url('./../../images/tunnel.jpg') no-repeat center center fixed;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: -1;


  .write-contents {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 510px;
    background-color: rgba(0, 0, 0, 0.8);

    .write-titleItem {
        padding: 0px 20px;
        margin-top: 30px;

      .write-title {
        width: 960px;
        padding-left: 20px;
        height: 30px;
        font-size: 20px;
        background-color: inherit;
        border: 1px solid white;
        float: left;
        color: white;
      }

      .write-cancel, .write-submit {
        float: left;
        margin-left: 20px;
        text-align: center;
        width: 60px;
        height: 30px;
        font-size: 20px;
        background-color: inherit;
        color: white;
        border: 1px solid white;
        border-radius: 3px;
      }
    }

    .write-textItem {
      padding: 50px 20px;

      .write-text {
        resize: none;
        background-color: inherit;
        border: 1px solid white;
        color: white;
        font-size: 20px;
        width: 1100px;
        height: 360px;
        padding: 20px;
      }
    }
  }
}

.write-back {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}
