.work-back {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;

  background: url('./../../images/tunnel.jpg') no-repeat center center fixed;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: -1;

  color: white;

  .work-contents {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    height: 510px;
    background-color: rgba(0, 0, 0, 0.8);

    .work-maintitle {
      margin: 10px;
      font-size: 40px;
      padding-bottom: 10px;
      border-bottom: 1px solid white;

      .work-add {
        float: right;
        margin-top: -45px;
        margin-right: 50px;
        background-color: rgba(44, 40, 45, 0.7);
        font-size: 20px;
        border: none;
        color: white;
        padding: 7px 20px;
        outline: none;
      }
    }

    .work-listBox {
      height: 400px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}

.work-back {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}


@media screen and (max-width: 1024px) {
   /* Specific to this particular image */
   .work-back{
     left: 50%;
     margin-left: -512px;

     .work-contents {
       position: absolute;
       width: 720px;
       margin-top: 40px;
     }
   }
}
