@import 'styles/utils.scss';

.about-back {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select:none;

  background: url('./../../images/tunnel.jpg') no-repeat center center fixed;
  background-position: top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  z-index: -1;

  color: white;

  .about-contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1200px;
    background-color: rgba(0, 0, 0, 0.8);

    .language {
      .KR, .EN {
        margin-top: 30px;
        background-color: rgba(44, 40, 45, 0.7);
        padding: 5px;
        width: 50px;
        text-align: center;
        font-size: 20px;
      }

      .KR {
        float: right;
        margin-right: 30px;
      }
      .EN {
        float: right;
        margin-right: 20px;
      }
    }

    .contents-box {
      margin-top: 50px;
      padding-bottom: 30px;

      .contents-title-KR {
        font-size: 50px;
        margin-left: 30px;
      }
      .contents-text-box {
        margin-top: 10px;
        font-size: 25px;
        margin-left: 30px;

        .contents-text-KR {
          line-height: 40px;
          white-space: pre-wrap;
          word-break: keep-all;
        }
      }
    }
  }
}

.about-back {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;
  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) {
   /* Specific to this particular image */
   .about-back{
     left: 50%;
     margin-left: -512px;

     .about-contents {
       position: absolute;
       width: 720px;
       margin-top: 40px;
     }
   }
}
